<h4>{{model.name}}</h4>
<img width="50%" src="/assets/images/{{model.image}}" alt="{{model.name}}">
<p>{{model.rating}}</p>
<p>
  {{model.description}}
</p>
<p><a href="{{model.id}}/nutrition">Nutrition</a></p>

{{outlet}}
